@media (min-width:992px){
  .modal-lg {width:940px !important;}
}

body{
  padding-top: 70px;
}

img.i {
  display: block;
  margin: 10px auto;
}

img.img-zoom{
  cursor: pointer;
}

div.service-alert{
  margin-top: 10px;
}

img#zoom_image{
  margin-bottom: 15px;
}

ul.groupview, ul.groupview ul {
	list-style-type: none;
}
/* need more space for bigger graphs */
.container {
   width: 1250px;
}
